PyQt5==5.15.2
PyQt5-stubs==5.15.2
sqlparse==0.4.1
git+git://github.com/m-matelski/jaydebeapi.git #JayDeBeApi fork
pydantic==1.8.1
appdirs==1.2.0
alembic==1.5.8
SQLAlchemy==1.4.9
SQLAlchemy-Utils==0.37.0
pyinstaller==4.3
bump2version==1.0.1