# This is a basic workflow to help you get started with Actions

name: Build Application Artifact Ubuntu

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
        
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Build with pyinstaller
      run: |
        ./pyinstaller_start.sh
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: SqlDiff_artifact_ubuntu
        path: dist/SqlDiff
        
    
